section.skills {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section.skills > h2 {
    margin-top: 91px;
    margin-bottom: 69px;
}

section.skills > p {
    margin-bottom: 83px;
}

.skills_elements {
    /* border: 1px solid black; */
    display: grid;    
    grid-template-columns: repeat(auto-fit, 166px);
    gap: 80px 90px;
    max-width: 940px;
    width: 100vw;
}

.skills_elements > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills_elements > div > img {
    width: 89px;
    height: 89px;
    object-fit: contain;
}

.skills_elements > div > p {
    max-width: 100px;
    text-align: center;
    margin-top: 23px;
    font-size: 14px;
    line-height: 17px;
}

.skills_elements > div > div {
    /* position: absolute; */
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: center;

}

@media (max-width: 940px) {
    .skills_elements {
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }
}

@media (max-width: 300px) {
    .skills_elements {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        
    }
}