@font-face {
    font-family: "Gilroy-Bold";
    src: url(../fonts/Gilroy-Bold.ttf);
}
@font-face {
    font-family: "Gilroy-Medium";
    src: url(../fonts/Gilroy-Medium.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #070707;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Gilroy-Medium";
}

p, nav a {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.skills, .portfolio, .contacts h2 {
    text-align: center;
}

/* h2 {
    font-size: 34px;
    text-align: center;
} */
/* .portfolio h2 {
    text-align: center;
}
.portfolio h3 {
    text-decoration: underline;
    text-align: center;
} */
article a {
    display: block;
}
article * {
    width: max-content;
    margin: 0, auto;
}
