* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

.grid_container > div {
    border: 2px solid black;
    font-size: 30px;
    overflow: hidden;
}
.grid_container {
    display: grid;
    background-color: yellow;
    max-width: 100%;
    min-height: 700px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 300px)) ;
    /* grid-template-areas: "three eight"; */
    /* grid-template-rows: repeat(auto-fit, minmax(0, 1fr)) ; */
    /* grid-column-gap: 20px;
    grid-row-gap: 50px; */
    /* grid-gap: 20px; */
    gap: 20px 50px;
    /* align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center; */
}
.grid_container > div:nth-child(3) {
    /* align-self: end; */
    /* justify-self: start; */
    /* grid-column-start: 2;
    grid-column-end: 4; */
    grid-column: 2 / 4;
    /* grid-area: 2 / 2 / 4 / 4; */
}
/* .grid_container > div:nth-child(8) {
    grid-area: eight;
} */


@madia (max-width: 600px) {

}

